<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tesalia_Redes_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Tesalia_Redes_App.Properties.Settings>
      <setting name="Mes" serializeAs="String">
        <value />
      </setting>
      <setting name="Year" serializeAs="String">
        <value />
      </setting>
      <setting name="HorasdeJornada" serializeAs="String">
        <value />
      </setting>
      <setting name="Installing" serializeAs="String">
        <value />
      </setting>
      <setting name="Checks" serializeAs="String">
        <value>Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked,Unchecked</value>
      </setting>
      <setting name="CAuto1" serializeAs="String">
        <value />
      </setting>
      <setting name="CAuto2" serializeAs="String">
        <value />
      </setting>
      <setting name="CAuto3" serializeAs="String">
        <value />
      </setting>
      <setting name="CAuto4" serializeAs="String">
        <value />
      </setting>
      <setting name="EM1" serializeAs="String">
        <value />
      </setting>
      <setting name="EM2" serializeAs="String">
        <value />
      </setting>
      <setting name="EM3" serializeAs="String">
        <value />
      </setting>
      <setting name="EM4" serializeAs="String">
        <value />
      </setting>
      <setting name="EM5" serializeAs="String">
        <value />
      </setting>
      <setting name="EM6" serializeAs="String">
        <value />
      </setting>
      <setting name="EM7" serializeAs="String">
        <value />
      </setting>
      <setting name="EM8" serializeAs="String">
        <value />
      </setting>
      <setting name="EM9" serializeAs="String">
        <value />
      </setting>
      <setting name="EM10" serializeAs="String">
        <value />
      </setting>
      <setting name="EM11" serializeAs="String">
        <value />
      </setting>
      <setting name="EM12" serializeAs="String">
        <value />
      </setting>
      <setting name="EM13" serializeAs="String">
        <value />
      </setting>
      <setting name="EM14" serializeAs="String">
        <value />
      </setting>
      <setting name="EM15" serializeAs="String">
        <value />
      </setting>
      <setting name="EM16" serializeAs="String">
        <value />
      </setting>
      <setting name="EM17" serializeAs="String">
        <value />
      </setting>
      <setting name="EM18" serializeAs="String">
        <value />
      </setting>
      <setting name="EM19" serializeAs="String">
        <value />
      </setting>
      <setting name="EM20" serializeAs="String">
        <value />
      </setting>
      <setting name="EM21" serializeAs="String">
        <value />
      </setting>
      <setting name="EM22" serializeAs="String">
        <value />
      </setting>
      <setting name="EM23" serializeAs="String">
        <value />
      </setting>
      <setting name="EM24" serializeAs="String">
        <value />
      </setting>
      <setting name="EM25" serializeAs="String">
        <value />
      </setting>
      <setting name="EM26" serializeAs="String">
        <value />
      </setting>
      <setting name="EM27" serializeAs="String">
        <value />
      </setting>
      <setting name="EM28" serializeAs="String">
        <value />
      </setting>
      <setting name="EM29" serializeAs="String">
        <value />
      </setting>
      <setting name="EM30" serializeAs="String">
        <value />
      </setting>
      <setting name="EM31" serializeAs="String">
        <value />
      </setting>
      <setting name="SM1" serializeAs="String">
        <value />
      </setting>
      <setting name="SM2" serializeAs="String">
        <value />
      </setting>
      <setting name="SM3" serializeAs="String">
        <value />
      </setting>
      <setting name="SM4" serializeAs="String">
        <value />
      </setting>
      <setting name="SM5" serializeAs="String">
        <value />
      </setting>
      <setting name="SM6" serializeAs="String">
        <value />
      </setting>
      <setting name="SM7" serializeAs="String">
        <value />
      </setting>
      <setting name="SM8" serializeAs="String">
        <value />
      </setting>
      <setting name="SM9" serializeAs="String">
        <value />
      </setting>
      <setting name="SM10" serializeAs="String">
        <value />
      </setting>
      <setting name="SM11" serializeAs="String">
        <value />
      </setting>
      <setting name="SM12" serializeAs="String">
        <value />
      </setting>
      <setting name="SM13" serializeAs="String">
        <value />
      </setting>
      <setting name="SM14" serializeAs="String">
        <value />
      </setting>
      <setting name="SM15" serializeAs="String">
        <value />
      </setting>
      <setting name="SM16" serializeAs="String">
        <value />
      </setting>
      <setting name="SM17" serializeAs="String">
        <value />
      </setting>
      <setting name="SM18" serializeAs="String">
        <value />
      </setting>
      <setting name="SM19" serializeAs="String">
        <value />
      </setting>
      <setting name="SM20" serializeAs="String">
        <value />
      </setting>
      <setting name="SM21" serializeAs="String">
        <value />
      </setting>
      <setting name="SM22" serializeAs="String">
        <value />
      </setting>
      <setting name="SM23" serializeAs="String">
        <value />
      </setting>
      <setting name="SM24" serializeAs="String">
        <value />
      </setting>
      <setting name="SM25" serializeAs="String">
        <value />
      </setting>
      <setting name="SM26" serializeAs="String">
        <value />
      </setting>
      <setting name="SM27" serializeAs="String">
        <value />
      </setting>
      <setting name="SM28" serializeAs="String">
        <value />
      </setting>
      <setting name="SM29" serializeAs="String">
        <value />
      </setting>
      <setting name="SM30" serializeAs="String">
        <value />
      </setting>
      <setting name="SM31" serializeAs="String">
        <value />
      </setting>
      <setting name="ET1" serializeAs="String">
        <value />
      </setting>
      <setting name="ET2" serializeAs="String">
        <value />
      </setting>
      <setting name="ET3" serializeAs="String">
        <value />
      </setting>
      <setting name="ET4" serializeAs="String">
        <value />
      </setting>
      <setting name="ET5" serializeAs="String">
        <value />
      </setting>
      <setting name="ET6" serializeAs="String">
        <value />
      </setting>
      <setting name="ET7" serializeAs="String">
        <value />
      </setting>
      <setting name="ET8" serializeAs="String">
        <value />
      </setting>
      <setting name="ET9" serializeAs="String">
        <value />
      </setting>
      <setting name="ET10" serializeAs="String">
        <value />
      </setting>
      <setting name="ET11" serializeAs="String">
        <value />
      </setting>
      <setting name="ET12" serializeAs="String">
        <value />
      </setting>
      <setting name="ET13" serializeAs="String">
        <value />
      </setting>
      <setting name="ET14" serializeAs="String">
        <value />
      </setting>
      <setting name="ET15" serializeAs="String">
        <value />
      </setting>
      <setting name="ET16" serializeAs="String">
        <value />
      </setting>
      <setting name="ET17" serializeAs="String">
        <value />
      </setting>
      <setting name="ET18" serializeAs="String">
        <value />
      </setting>
      <setting name="ET19" serializeAs="String">
        <value />
      </setting>
      <setting name="ET20" serializeAs="String">
        <value />
      </setting>
      <setting name="ET21" serializeAs="String">
        <value />
      </setting>
      <setting name="ET22" serializeAs="String">
        <value />
      </setting>
      <setting name="ET23" serializeAs="String">
        <value />
      </setting>
      <setting name="ET24" serializeAs="String">
        <value />
      </setting>
      <setting name="ET25" serializeAs="String">
        <value />
      </setting>
      <setting name="ET26" serializeAs="String">
        <value />
      </setting>
      <setting name="ET27" serializeAs="String">
        <value />
      </setting>
      <setting name="ET28" serializeAs="String">
        <value />
      </setting>
      <setting name="ET29" serializeAs="String">
        <value />
      </setting>
      <setting name="ET30" serializeAs="String">
        <value />
      </setting>
      <setting name="ET31" serializeAs="String">
        <value />
      </setting>
      <setting name="ST1" serializeAs="String">
        <value />
      </setting>
      <setting name="ST2" serializeAs="String">
        <value />
      </setting>
      <setting name="ST3" serializeAs="String">
        <value />
      </setting>
      <setting name="ST4" serializeAs="String">
        <value />
      </setting>
      <setting name="ST5" serializeAs="String">
        <value />
      </setting>
      <setting name="ST6" serializeAs="String">
        <value />
      </setting>
      <setting name="ST7" serializeAs="String">
        <value />
      </setting>
      <setting name="ST8" serializeAs="String">
        <value />
      </setting>
      <setting name="ST9" serializeAs="String">
        <value />
      </setting>
      <setting name="ST10" serializeAs="String">
        <value />
      </setting>
      <setting name="ST11" serializeAs="String">
        <value />
      </setting>
      <setting name="ST12" serializeAs="String">
        <value />
      </setting>
      <setting name="ST13" serializeAs="String">
        <value />
      </setting>
      <setting name="ST14" serializeAs="String">
        <value />
      </setting>
      <setting name="ST15" serializeAs="String">
        <value />
      </setting>
      <setting name="ST16" serializeAs="String">
        <value />
      </setting>
      <setting name="ST17" serializeAs="String">
        <value />
      </setting>
      <setting name="ST18" serializeAs="String">
        <value />
      </setting>
      <setting name="ST19" serializeAs="String">
        <value />
      </setting>
      <setting name="ST20" serializeAs="String">
        <value />
      </setting>
      <setting name="ST21" serializeAs="String">
        <value />
      </setting>
      <setting name="ST22" serializeAs="String">
        <value />
      </setting>
      <setting name="ST23" serializeAs="String">
        <value />
      </setting>
      <setting name="ST24" serializeAs="String">
        <value />
      </setting>
      <setting name="ST25" serializeAs="String">
        <value />
      </setting>
      <setting name="ST26" serializeAs="String">
        <value />
      </setting>
      <setting name="ST27" serializeAs="String">
        <value />
      </setting>
      <setting name="ST28" serializeAs="String">
        <value />
      </setting>
      <setting name="ST29" serializeAs="String">
        <value />
      </setting>
      <setting name="ST30" serializeAs="String">
        <value />
      </setting>
      <setting name="ST31" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Documento" serializeAs="String">
        <value />
      </setting>
      <setting name="SeguridadS" serializeAs="String">
        <value />
      </setting>
      <setting name="RutaFirma" serializeAs="String">
        <value />
      </setting>
      <setting name="Asunto" serializeAs="String">
        <value />
      </setting>
      <setting name="Mensaje" serializeAs="String">
        <value />
      </setting>
      <setting name="MailMail" serializeAs="String">
        <value />
      </setting>
      <setting name="MailPass" serializeAs="String">
        <value />
      </setting>
      <setting name="UltimoArchivoGenerado" serializeAs="String">
        <value />
      </setting>
      <setting name="EnviarMailCC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartPage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Trabajo" serializeAs="String">
        <value />
      </setting>
      <setting name="ActivarPassCC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PassStart" serializeAs="String">
        <value />
      </setting>
      <setting name="CorreoType" serializeAs="String">
        <value>0</value>
      </setting>
    </Tesalia_Redes_App.Properties.Settings>
  </userSettings>
</configuration>